In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime
import statsmodels.api as sm

# Step 1: Fetch Data
start_date = "2010-01-01"
end_date = "2024-12-31"
risk_free_ticker = "^IRX"  # Use the 13-week Treasury yield as a proxy for risk-free rate
market_index_ticker = "^GSPC"  # S&P 500 index
equity_tickers = ["AAPL", "MSFT", "GOOGL", "TSLA", "NVDA"]  # Replace with desired stock tickers

# Fetch data
risk_free_data = yf.download(risk_free_ticker, start=start_date, end=end_date)["Close"]
market_data = yf.download(market_index_ticker, start=start_date, end=end_date)["Close"]
stock_data = yf.download(equity_tickers, start=start_date, end=end_date)["Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  5 of 5 completed

In [3]:
stock_data.head(10)

Ticker          AAPL      GOOGL       MSFT      NVDA  TSLA
Date
2010-01-04  6.447411  15.627781  23.300686  0.423923   NaN
2010-01-05  6.458559  15.558962  23.308208  0.430113   NaN
2010-01-06  6.355826  15.166741  23.165173  0.432864   NaN
2010-01-07  6.344077  14.813666  22.924267  0.424381   NaN
2010-01-08  6.386253  15.011148  23.082357  0.425298   NaN
2010-01-11  6.329919  14.988460  22.788742  0.419337   NaN
2010-01-12  6.257916  14.723403  22.638170  0.405122   NaN
2010-01-13  6.346186  14.638875  22.848969  0.410625   NaN
2010-01-14  6.309431  14.707694  23.308208  0.404205   NaN
2010-01-15  6.203988  14.462089  23.232924  0.392283   NaN